<!--Proofbot header image-->

<!-- language dropdown start -->
<div class="row justify-content-between align-items-center">
  <div class="col-sm-12 col-md-3 col-lg-3 d-flex align-items-center justify-content-center ">
    <div class="proofbot-header-img-container">
      <img class="proofbot-header-img" src="../../../../assets/img/Asset 4.png">
      <img class="proofbot-header-img2" src="../../../../assets/img/Asset 5.png">
    </div>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4 text-center mt-3 mb-3" *ngIf="!!proof1 && proof1!=''">
    <div class="row mb-1" style="font-size:18px; font-weight: 700; font-family: Inter;">
      <div class="col">{{commonServices.getProofName(proof1)}}</div>
    </div>
    <div class="row mt-1 justify-content-center align-item-center" style="font-size:14px">
      <div class="col-auto" *ngIf="!!product">Product: <span style="font-weight:700;">{{product}}</span></div>
      <div class="col-auto" *ngIf="!!batch">Batch: <span style="font-weight:700;">{{batch}}</span></div>
      <div class="col-auto" *ngIf="!!tdpId">Traceability Data ID: <span style="font-weight:700;">{{tdpId}}</span></div>
    </div>
    <div class="row mb-1 justify-content-center align-item-center pocStatusDiv" >
       <button class="statusBtn btn btn-light col-lg " style="line-height: 19.36px;" (click)="emitPOCStatusFn()"
          title="POC Status" *ngIf="commonServices.getProofName(proof1)=='Proof of Continuity'">
          <span class="col-sm-12" style="padding-right: 2px; padding-left: 11px; color:#000000; font-size:15px; font-weight: 700; font-family: Inter;"> Proof of Continuity Status: </span>
          <span class="col-sm-12 pocStatusBtnTxt" style="padding-right: 2px; padding-left: 11px; color: #2C9357; font-weight: 500;">
            Successful ({{    (SuccessedProofcount === 0 ) ? '0' : (SuccessedProofcount)}})
          </span>
          <span class="col-sm-12 pocStatusBtnTxt" style="padding-right: 2px; padding-left: 11px; color: #C0392B; font-weight: 500;"> Failed ({{    (FailedProofcount === 0 ) ? '0' : (FailedProofcount)}}) </span>
          <span class="col-sm-12 pocStatusBtnTxt" style="padding-right: 2px; padding-left: 11px; color:#000000; font-weight: 500;"> Pending ({{    (pendingProofsCount === 0 ) ? '0' : (pendingProofsCount)}}) </span>
        </button>
    </div>
  </div>
  
  

  <div class=" col-sm-12 col-md-3 col-lg-3">
    <div class="lang-selector responsive-content float-right text-center mx-auto">
      <select class="custom-select w-auto" [(ngModel)]="lang" (ngModelChange)="emitLangFn($event)"
        style="font-size: 14px; font-family : Inter;">
        <option value="en">English</option>
        <option value="ja">Japanese</option>
      </select>
    </div>
  </div>
</div>
<!-- language dropdown end -->