<div class="proofbot-main-view">
  <div id="proofContainer" style="height: 100%; width: 100%; display: flex;
    flex-direction: column;" [ngStyle]="{
      justifyContent: justifyContent,
      alignItems: alignItems
    }" [class]="isTheater ? 'p-3' : 'p-0'">
    <app-bot-loader [initialHeight]="initialHeight" [initialWidth]="initialWidth" [isLoading]="isLoading"
      [color]="color" [mode]="mode" [value]="value" [LoadingProofType]="LoadingProofType" [TXNhash]="TXNhash"
      (startDemoFn)="startDemoFn()" id="proofDemoLoaderFrame" *ngIf="!isProofStart" style="width: 100%;" [ngStyle]="{
        height: initialHeight,
        maxWidth: initialWidth
      }" [product]="product" [batch]="batch" [tdpId]="tdpId"></app-bot-loader>

    <div style="overflow-y: scroll;" id="verificationScreen" *ngIf="isProofStart" [@screenAnimationDemo] [ngStyle]="{
        height: vsHeightExpand ? maxHeight : minHeight,
        maxWidth: vsHeightExpand ? maxWidth : minWidth
      }">
      <app-bot-header *ngIf="isProofStart" [lang]="lang" [isPause]="isPause" [ProofContainerTitle]="ProofContainerTitle"
        [isPlayCompleted]="isPlayCompleted" [currentStep]="currentStep" [totalSteps]="totalSteps"
        [playbackSpeed]="playbackSpeed" [isTheater]="isTheater" [vsHeightExpand]="vsHeightExpand"
        (setLangFn)="setLangFn($event)" (togglePlayPauseFn)="togglePlayPauseFn()" (stopFn)="stopFn()"
        (replayFn)="replayFn()" (setSpeedFn)="setSpeed($event)" (theaterModeFn)="theaterMode()"
        (resizeVerifyScreenFn)="resizeVerifyScreen()" [proof1]="proofType" [product]="product" [batch]="batch"
        [tdpId]="tdpId" (POCStatus)="POCStatus()"></app-bot-header>
      <div *ngIf="isToast1" class="toast-notification1 float-right px-2" [@inOutAnimation]>
        <p class="m-0 toast-notification1-mob">{{ toastMSG1 }}
          <img class="checked-small-img" src="../../../../assets/img/Vector.png">
        </p>
      </div>

      <!-- poc view -->
      <div class="poc-graph-view mt-3 mb-1" *ngIf="proofType=='poc' && isStartDemo">
        <div class="row ">
          <div class="col-12">
            <div class="d-flex justify-content-between section-header bold-f" style="font-size: 16px;">
              <div></div>
              <div> Batch History
                <a href="https://tracified.com/2022/09/29/introducing-the-worlds-first-solution-for-automated-blockchain-proof-verification-proofbot-by-tracified/"
                  target="_blank">
                  <i class="bi bi-question-circle-fill helpIcon"></i>
                </a>
              </div>
              <div class="mr-1 "> <span (click)="isCollapsedPocTree = !isCollapsedPocTree"
                  [attr.aria-expanded]="!isCollapsedPocTree" aria-controls="collapseBasic"><i
                    class="bi bi-chevron-down"></i>
                </span></div>
            </div>
          </div>
        </div>
        <div>
        <app-poc-graph-view id="collapseBasic" [collapse]="isCollapsedPocTree" class="m-2"
          [data]="nodes" [dataWithMerkleTree]="nodesWithMerkleTree" (clickedNodeEvent)="clickedNode($event)"></app-poc-graph-view>
        </div>
      </div>
      <!-- end poc view -->
      <!-- bot-segments header-->
      <div class="poc-graph-view mt-3 mb-1" *ngIf="proofType=='poc' && isStartDemo">
        <div class="row ">
          <div class="col-12">
            <div class="d-flex justify-content-between section-header">
              <div></div>
              <div *ngIf="currentProof=='Proof of Backlinks'; else otherProof">Current Proof: <span
                  class="bold-f">&nbsp;{{currentProof}}&nbsp;</span> 
                between <span class="bold-f" *ngIf="currentBatchID">&nbsp;Batch ID : {{currentBatchID}}&nbsp;</span> 
                <span class="bold-f" *ngIf="currentProduct">&nbsp;| Product : {{currentProduct}}&nbsp;</span> 
                <span class="bold-f" *ngIf="currentStage">&nbsp;| Stage : {{currentStage}}&nbsp;</span> 
                and <span class="bold-f" *ngIf="currentBatchID2">&nbsp;Batch ID : {{currentBatchID2}}&nbsp;</span>
                <span class="bold-f" *ngIf="currentProduct2">&nbsp;| Product : {{currentProduct2}}&nbsp;</span> 
                <span class="bold-f" *ngIf="currentStage2">&nbsp;| Stage : {{currentStage2}}&nbsp;</span> 
                <a class="ml-1"
                  href="https://tracified.com/2022/09/29/introducing-the-worlds-first-solution-for-automated-blockchain-proof-verification-proofbot-by-tracified/"
                  target="_blank">
                  <i class="bi bi-question-circle-fill helpIcon"></i>
                </a>
              </div>
              <ng-template #otherProof>
                <div>Current Proof: <span class="bold-f">&nbsp;{{currentProof}}&nbsp;</span> 
                  <span class="bold-f" *ngIf="currentBatchID">&nbsp;Batch ID : {{currentBatchID}}&nbsp;</span>
                  <span class="bold-f" *ngIf="currentProduct">&nbsp;| Product : {{currentProduct}}&nbsp;</span>
                  <span class="bold-f" *ngIf="currentStage">&nbsp;| Stage : {{currentStage}}&nbsp;</span> 
                  
                  <a class="ml-1"
                    href="https://tracified.com/2022/09/29/introducing-the-worlds-first-solution-for-automated-blockchain-proof-verification-proofbot-by-tracified/"
                    target="_blank">
                    <i class="bi bi-question-circle-fill helpIcon"></i>
                  </a>
                </div>
              </ng-template>
              <div class="mr-1 "> <span (click)="isCollapsedSegment = !isCollapsedSegment"
                  [attr.aria-expanded]="!isCollapsedSegment" aria-controls="steppersFrame"><i
                    class="bi bi-chevron-down"></i>
                </span></div>
            </div>
          </div>
        </div>
      </div>
      <!--end bot-segments header-->
      <!-- description -->
      <div class="mb-2" [collapse]="isCollapsedSegment" *ngIf="isStartDemo">
        <div class="row justify-content-center align-item-center text-center">
          <span style="font-size: 14px; font-weight: 500; font-family: Inter;">Current Process :</span>
        </div>
        <div class="row justify-content-center align-item-center text-center">
          <span style="font-size: 14px; font-weight: 700; font-family: Inter;">{{
            ActionDescription
            }}</span>
        </div>
      </div>
      <!-- end description -->
      <app-bot-wait *ngIf="!isStartDemo"></app-bot-wait>
      <!-- bot-segments header-->
      <app-bot-segments *ngIf="isStartDemo" id="steppersFrame" [collapse]="isCollapsedSegment" [SegmentNumber]="SegmentNumber" [icon]="icon"
        [steppers]="steppers" [subSteppers]="subSteppers" [lang]="lang" (backToStepFn)="backToStep($event)"
        (backToActionFn)="backToAction($event)">
      </app-bot-segments>
      <!--end bot-segments header-->

      <!-- bot screen -->
      <div  style="overflow: visible;position: relative;height: 100%;width: 100%; margin-top: 4px; font-family: Inter;">
        <div *ngIf="isToast" class="toast-notification float-right px-2" [ngStyle]="{ top: toastTop, left: toastLeft }"
          [@inOutAnimation]>
          <p class="m-0">{{ toastMSG }}</p>
        </div>

        <div class="spanner" [class.show]="isBackToStep">
          <div class="loader"></div>
        </div>
        <div style="height: 100%;">
          <div id="frames" [style.overflow-x]="vsOverflowX">
            <ng-template #ProofDemoDirective></ng-template>
          </div>
        </div>
      </div>
      <!-- end bot screen -->
      <!-- Main Values -->
      <div class="poc-graph-view mt-3 mb-1">
        <div class="row ">
          <div class="col-12">
            <div class="d-flex justify-content-between section-header bold-f" style="font-size: 16px;">
              <div></div>
              <div> Main Values
                <a href="https://tracified.com/2022/09/29/introducing-the-worlds-first-solution-for-automated-blockchain-proof-verification-proofbot-by-tracified/"
                  target="_blank">
                  <i class="bi bi-question-circle-fill helpIcon"></i>
                </a>
              </div>
              <div class="mr-1 "> <span (click)="isCollapsedMainValues= !isCollapsedMainValues"
                  [attr.aria-expanded]="!isCollapsedMainValues" aria-controls="globalInformation"><i
                    class="bi bi-chevron-down"></i>
                </span></div>
            </div>
          </div>
        </div>
        <app-bot-wait *ngIf="!isStartDemo"></app-bot-wait>
        <app-bot-globaldata id="globalInformation" [collapse]="isCollapsedMainValues" [@screenAnimation]
          [ngStyle]="{height: gsHeightExpand ? '98vh' : '24vh'}" [globalData]="globalData" [gsOverflowX]="gsOverflowX"
          [lang]="lang"> </app-bot-globaldata>
      </div>
      <!--end Main Values -->
    </div>
  </div>

</div>