#siteScreen #browser .content {
    height: 100%;
    width: 100%;
    overflow: scroll;
    font-size: 12px;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    position: relative;
  }