<div style="font-family: Inter;">
    <div class="row">
      <div class="col-12">
        <div class="label-bar row justify-content-center align-items-center lable-text mt-2 mb-2">
        <div class="d-flex justify-content-center align-items-center" *ngIf="!loadingComplete" style="height: 280px;">
          <mat-spinner class="progress-loader" [color]="color" [mode]="mode" [value]="value">
          </mat-spinner>
        </div>
        <div [style.opacity]="loadingComplete ? '1' : '0'" [style.height.px]="loadingComplete ? '100%' : '0'" id="body"
          style="width: 100% !important;  border: 1px solid #E7E7E7;  overflow: auto; border-bottom: none; border-left: none; border-right: none;"
          class="px-5 py-4 d-flex align-items-center justify-content-center graph-backgraound">
          <div [attr.width.px]="pocTreeWidth" [attr.height.px]="pocTreeHeight">
            <svg [attr.width.px]="pocTreeWidth" [attr.height.px]="pocTreeHeight">
              <g id="pocTree" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>