<div id="metricActivityView" style="font-family: Inter; text-align: center; align-content: center;">
    <div id="metricDetails" style="width: fit-content; display: inline-block;">
        <h6>Step: <span class="bold">{{activity.stage}}</span> | Activity: <span class="bold">{{activity.activityDetails.name}}</span> </h6>

    </div>
    
    <div class="current-view">
        <span>Current Result:</span><br>
        <span class="current_result bold"style="font-weight:700; background: #E9ECEF; color: #494949; padding: 5px;">{{activity.activityDetails.total}}</span>
    </div>
    <div style="padding-bottom: 10px;">
        <div class="formula-view">
            <div class="formula-description" style="text-align: center; ">
                <span>Formula Name:</span><br>
            <span class="bold">Formula to calculate {{activity.activityDetails.name}}</span>
            </div>
            
            <div class="formula-description" style="text-align: center;">
                <span>Formula Description:</span><br>
                <span class="bold" style="width: min-content;">The formula to calculate CO2 emissions from national water supply estimates the greenhouse gas emissions produced during water treatment and distribution across a country.</span>
            </div>
            <div>
                <span>Expert Profile:</span><br>
            </div>
            <div class="container">
                <div class="column image-column">
                    <img src="your_image_url_here" alt="Profile Image">
                </div>
                <div class="column">
                    <span>Name: Your Name</span><br>
                    <span>Domains: Your Domains</span>
                </div>
            </div>
            <div>
                <span>Expert Profile:</span><br>
            </div>
            <div class="container">
                <div>
                    <div class="Attribute">water</div>
                    <div class="Operator">*</div>
                </div>
            </div>

            <div>
                <span>References: </span><br>
            </div>
            <div class="container">
                <span>Ref1, Ref2, Ref3:</span>
            </div>
            
        </div>
    </div>
    
    
    <div>
    </div>
</div>
