<div class="loader-view-main">
  <img class="proofbot-home-img" src="../../../../../assets/img/start-logo.png">
  <div style="padding-top: 25px;">
    <table class="proofLoadingTable lable-text">
      <tr>
        <th colspan="2" class="proofLodingHeader">
          {{LoadingProofType}}
        </th>
      </tr>
      <tr class="proofLoadingColumn" *ngIf="!!product">
        <td class="proofLoadingColumn">
          Product
        </td>
        <td class="proofLoadingColumn">
          {{product}}
        </td>
      </tr>
      <tr class="proofLoadingColumn" *ngIf="!!batch">
        <td class="proofLoadingColumn">
          Batch
        </td>
        <td>
          {{batch}}
        </td>
      </tr>
      <tr class="proofLoadingColumn" *ngIf="!!tdpId">
        <td class="proofLoadingColumn">
          Traceability Data ID
        </td>
        <td class="proofLoadingColumn">
          {{tdpId}}
        </td>
      </tr>
    </table>
  </div>
  <div id="demo" style="margin-top: 5vh;">
    <div class="d-flex justify-content-center align-items-center" *ngIf="isLoading" style="height: 4rem;">
      <div *ngIf="isLoading" class="spinner">
        <div class="rect1 mr-1"></div>
        <div class="rect2 mr-1"></div>
        <div class="rect3 mr-1"></div>
        <div class="rect4 mr-1"></div>
        <div class="rect5 mr-1"></div>
      </div>
    </div>
  </div>
</div>