.btn .fa-youtube-play {
  font-size: 5rem;
  transition: 800ms;
  color: rgb(35, 37, 160);
  transition-timing-function: ease-in-out;
}

.btn .fa-youtube-play:hover {
  font-size: 5.4rem;
  color: rgb(20, 18, 141);
}

.proofbot-home-img { 
  width:400px;
  margin-right: 8px;
  align-self:center;
  margin-top: 20vh;
}

@media only screen and (max-width: 1280px) {
  .proofbot-home-img { 
    width:350px
    }
}
@media only screen and (max-width: 720px) {
  .proofbot-home-img { 
    width:250px
    }
}

.loader-view-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}