<div class="modal-header " style="align-items: stretch; flex-direction: column;">
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
  <p class="modal-title pull-left" style="font-family: Inter; font-size: 24px; font-weight: 400; text-align: center;"
    *ngIf="!isPOCcompleted">Proof of Continuity Status</p>
  <p class="modal-title pull-left" style="font-family: Inter; font-size: 24px; font-weight: 400; text-align: center;"
    *ngIf="isPOCcompleted">Proof of Continuity Verification
    <span style="font-family: Inter; font-size: 24px; font-weight: 400; text-align: center;"
      *ngIf="isPOCcompleted && failedproofs.length == 0 && missedProofs.length == 0">Success!!</span>
    <span style="font-family: Inter; font-size: 24px; font-weight: 400; text-align: center;"
      *ngIf="isPOCcompleted && failedproofs?.length > 0">Failed!!</span>
    <span style="font-family: Inter; font-size: 24px; font-weight: 400; text-align: center;"
      *ngIf="isPOCcompleted && missedProofs?.length > 0">Not Yet Completed!!</span>
  </p>
</div>
<div class="modal-body" style="font-family: Inter; justify-content: center;">
  <!--completed proofs-->
  <!-- <h5 class="text-wrap" style="text-align: center;">Completed Proofs</h5> -->

  <!--Success proof-->
  <div class="SProofHeader">
    <p class="text-center font-weight-bold mb-4 SProofHeaderTxt">Success
      Proofs ({{successProofs.length}})
    </p>
  </div>
  <br>
  <div class="row">
    <div class="col-12" *ngIf="successProofs?.length > 0">
      <ng-container *ngFor="let successProof of successProofs">
        <div class="d-flex align-items-center mb-3 section-header">
          <div *ngIf="successProof.ProofType=='Proof of Backlinks'; else otherProof">
            The <span class="font-weight-bold"
              *ngIf="successProof.ProofType">&nbsp;{{successProof.ProofType}}&nbsp;</span> for
            <span class="font-weight-bold capitalize-first-letter"
              *ngIf="successProof.TransactionType">&nbsp;{{successProof.TransactionType}}&nbsp;</span>between
            <strong>(</strong> <span class="font-weight-bold" *ngIf="successProof.Batch">Product:
              {{successProof.Batch}}&nbsp;</span>
            <span class="font-weight-bold" *ngIf="successProof.Stage">| Stage:
              {{successProof.Stage}}&nbsp;</span><strong>)</strong>
            and <strong>(</strong>
            <span class="font-weight-bold" *ngIf="successProof.Batch2">Product: {{successProof.Batch2}}&nbsp;</span>
            <span class="font-weight-bold" *ngIf="successProof.Stage2">| Stage:
              {{successProof.Stage2}}&nbsp;</span><strong>)</strong>
            completed successfully.
          </div>
        </div>
        <ng-template #otherProof>
          <div class="d-flex align-items-center mb-3 section-header">
            <div>
              <span>The<span class="font-weight-bold"
                  *ngIf="successProof.ProofType">&nbsp;{{successProof.ProofType}}&nbsp;</span>
                of <strong>(</strong><span class="font-weight-bold capitalize-first-letter"
                  *ngIf="successProof.Batch">&nbsp;Product: {{successProof.Batch}}&nbsp;</span>
                <span class="font-weight-bold" *ngIf="successProof.Stage">| Stage:
                  {{successProof.Stage}}&nbsp;</span><strong>)</strong>
                completed successfully.</span>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>

   <!--failed proof-->
  <div class="FProofHeader">
    <p class="text-center font-weight-bold mb-4 FProofHeaderTxt"> Failed Proofs ({{failedproofs.length}})
    </p>
  </div>
  <br>
  <div class="row">
    <div class="col-12" *ngIf="failedproofs?.length > 0">
      <div *ngFor="let failedproof of failedproofs">
        <div class="d-flex align-items-center mb-3 section-header">
          <div *ngIf="failedproof.ProofType=='Proof of Backlinks'; else otherProof">
            The <span class="font-weight-bold"
              *ngIf="failedproof.ProofType">&nbsp;{{failedproof.ProofType}}&nbsp;</span> for <strong>(</strong>
            <span class="font-weight-bold capitalize-first-letter"
              *ngIf="failedproof.TransactionType">&nbsp;{{failedproof.TransactionType}}&nbsp;</span>between
            <span class="font-weight-bold" *ngIf="failedproof.Batch">Product: {{failedproof.Batch}}&nbsp;</span>
            <span class="font-weight-bold" *ngIf="failedproof.Stage">| Stage:
              {{failedproof.Stage}}&nbsp;</span><strong>)</strong>
            and <strong>(</strong>
            <span class="font-weight-bold" *ngIf="failedproof.Batch2">Product: {{failedproof.Batch2}}&nbsp;</span>
            <span class="font-weight-bold" *ngIf="failedproof.Stage2">| Stage:
              {{failedproof.Stage2}}&nbsp;</span><strong>)</strong>
            failed.
          </div>
        </div>
        <ng-template #otherProof>
          <div class="d-flex align-items-center mb-3 section-header">
            <div>
              <span>The<span class="font-weight-bold"
                  *ngIf="failedproof.ProofType">&nbsp;{{failedproof.ProofType}}&nbsp;</span>
                of <strong>(</strong><span class="font-weight-bold capitalize-first-letter"
                  *ngIf="failedproof.Batch">&nbsp;Product: {{failedproof.Batch}}&nbsp;</span>
                <span class="font-weight-bold" *ngIf="failedproof.Stage">| Stage:
                  {{failedproof.Stage}}&nbsp;</span><strong>)</strong>
                failed.</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!--missed proofs-->
  <div class="PProofHeader">
    <p class="text-center font-weight-bold mb-4 PProofHeaderTxt">Pending Proofs ({{missedProofs.length}})</p>
  </div>
  <br>
  <div class="row">
    <div class="col-12" *ngIf="missedProofs?.length > 0">
      <ng-container *ngFor="let missedProof of missedProofs">
        <div class="d-flex justify-content-start mb-3">
          <div></div>
          <div *ngIf="missedProof.ProofType=='Proof of Backlinks'; else otherProof">
            The <span class="font-weight-bold"
              *ngIf="missedProof.ProofType">&nbsp;{{missedProof.ProofType}}&nbsp;</span> for
            <span class="font-weight-bold capitalize-first-letter"
              *ngIf="missedProof.TransactionType">&nbsp;{{missedProof.TransactionType}}&nbsp;</span>between
            <strong>(</strong> <span class="font-weight-bold" *ngIf="missedProof.Batch">Product:
              {{missedProof.Batch}}&nbsp;</span>
            <span class="font-weight-bold" *ngIf="missedProof.Stage">| Stage:
              {{missedProof.Stage}}&nbsp;</span><strong>)</strong>
            and <strong>(</strong>
            <span class="font-weight-bold" *ngIf="missedProof.Batch2">Product: {{missedProof.Batch2}}&nbsp;</span>
            <span class="font-weight-bold" *ngIf="missedProof.Stage2">| Stage:
              {{missedProof.Stage2}}&nbsp;</span><strong>)</strong>
            not yet completed.
          </div>
          <ng-template #otherProof>
            <div>
              <span>
                The <span class="font-weight-bold"
                  *ngIf="missedProof.ProofType">&nbsp;{{missedProof.ProofType}}&nbsp;</span>
                of <strong>(</strong><span class="font-weight-bold capitalize-first-letter"
                  *ngIf="missedProof.Batch">&nbsp;Product: {{missedProof.Batch}}&nbsp;</span>
                <span class="font-weight-bold" *ngIf="missedProof.Stage">| Stage:
                  {{missedProof.Stage}}&nbsp;</span><strong>)</strong>
                is not yet completed.
              </span>
            </div>
          </ng-template>
        </div>
      </ng-container>

    </div>
  </div>





  

  <!--modal-footer-->
  <div class="modal-footer" style="font-family: Inter; justify-content: center;"></div>