<div class="modal-header " style="align-items: stretch; flex-direction: column;">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
    <p class="modal-title pull-left" style="font-family: Inter; font-size: 24px; font-weight: 400; text-align: center;" *ngIf="!isPOCcompleted">Proof of Continuity Status</p>
    <p class="modal-title pull-left" style="font-family: Inter; font-size: 24px; font-weight: 400; text-align: center;" *ngIf="isPOCcompleted" >Proof of Continuity Completed!</p>
  </div>
  <div class="modal-body" style="font-family: Inter; justify-content: center;">
    <!--completed proofs-->
    <!-- <h5 class="text-wrap" style="text-align: center;">Completed Proofs</h5> -->

    <!--Success proof-->
    <div class="SProofHeader" *ngIf="successProofs?.length > 0"><p class="text-center font-weight-bold mb-4 SProofHeaderTxt"  *ngIf="successProofs?.length > 0">Success
      Proofs
    </p></div>
    <br>
    <div class="row">
      <div class="col-12" *ngIf="successProofs?.length > 0">
        <ng-container *ngFor="let successProof of successProofs">
          <div class="d-flex align-items-center mb-3 section-header">
            <div *ngIf="successProof.ProofType=='Proof of Backlinks'; else otherProof">
              The <span class="font-weight-bold" *ngIf="successProof.ProofType">&nbsp;{{successProof.ProofType}}&nbsp;</span> for
              <span class="font-weight-bold capitalize-first-letter" *ngIf="successProof.TransactionType">&nbsp;{{successProof.TransactionType}}&nbsp;</span>between
              <span class="font-weight-bold" *ngIf="successProof.Batch">Product: {{successProof.Batch}}&nbsp;</span>
              <span class="font-weight-bold" *ngIf="successProof.Stage">| Stage: {{successProof.Stage}}&nbsp;</span>
              and
              <span class="font-weight-bold" *ngIf="successProof.Batch2">Product: {{successProof.Batch2}}&nbsp;</span>
              <span class="font-weight-bold" *ngIf="successProof.Stage2">| Stage: {{successProof.Stage2}}&nbsp;</span>
              completed successfully.
            </div>
          </div>
          <ng-template #otherProof>
            <div class="d-flex align-items-center mb-3 section-header">
              <div *ngFor="let successProof of successProofs">
                The <span class="font-weight-bold" *ngIf="successProof.ProofType">&nbsp;{{successProof.ProofType}}&nbsp;</span>
                of <span class="font-weight-bold capitalize-first-letter" *ngIf="successProof.Batch">&nbsp;Product: {{successProof.Batch}}&nbsp;</span>
                <span class="font-weight-bold" *ngIf="successProof.Stage">| Stage: {{successProof.Stage}}&nbsp;</span>
                completed successfully.
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>

    <!--missed proofs-->
    <div class="PProofHeader" *ngIf="missedProofs?.length > 0"><p class="text-center font-weight-bold mb-4 PProofHeaderTxt" *ngIf="missedProofs?.length > 0">Pending Proofs</p></div>
    <br>
    <div class="row">
      <div class="col-12" *ngIf="missedProofs?.length > 0">
        <ng-container  *ngFor="let missedProof of missedProofs">
          <div class="d-flex justify-content-start mb-3">
            <div></div>
            <div *ngIf="missedProof.ProofType=='Proof of Backlinks'; else otherProof">
              The <span class="font-weight-bold" *ngIf="missedProof.ProofType">&nbsp;{{missedProof.ProofType}}&nbsp;</span> for
              <span class="font-weight-bold capitalize-first-letter" *ngIf="missedProof.TransactionType">&nbsp;{{missedProof.TransactionType}}&nbsp;</span>between
              <span class="font-weight-bold" *ngIf="missedProof.Batch">Product: {{missedProof.Batch}}&nbsp;</span>
              <span class="font-weight-bold" *ngIf="missedProof.Stage">| Stage: {{missedProof.Stage}}&nbsp;</span>
              and
              <span class="font-weight-bold" *ngIf="missedProof.Batch2">Product: {{missedProof.Batch2}}&nbsp;</span>
              <span class="font-weight-bold" *ngIf="missedProof.Stage2">| Stage: {{missedProof.Stage2}}&nbsp;</span>
              not yet completed.
            </div>
            <ng-template #otherProof>
              <div>
                The <span class="font-weight-bold" *ngIf="missedProof.ProofType">&nbsp;{{missedProof.ProofType}}&nbsp;</span>
                of <span class="font-weight-bold capitalize-first-letter" *ngIf="missedProof.Batch">&nbsp;Product: {{missedProof.Batch}}&nbsp;</span>
                <span class="font-weight-bold" *ngIf="missedProof.Stage">| Stage: {{missedProof.Stage}}&nbsp;</span>
                is not yet completed.
              </div>
            </ng-template>
          </div>
        </ng-container> 
        
      </div>
    </div>


    


    <!--failed proof-->
    <div class="FProofHeader" *ngIf="failedProofs?.length > 0"><p class="text-center font-weight-bold mb-4 FProofHeaderTxt"  *ngIf="failedProofs?.length > 0">Failed Proofs
    </p></div>
    <br>
    <div class="row">
      <div class="col-12" *ngIf="failedProofs?.length > 0">
        <div class="d-flex align-items-center mb-3 section-header" *ngFor="let failedProof of failedProofs">
          <div *ngIf="failedProof.ProofType=='Proof of Backlinks'; else otherProof">
            The <span class="font-weight-bold" *ngIf="failedProof.ProofType">&nbsp;{{failedProof.ProofType}}&nbsp;</span> for
              <span class="font-weight-bold capitalize-first-letter" *ngIf="failedProof.TransactionType">&nbsp;{{failedProof.TransactionType}}&nbsp;</span>between
              <span class="font-weight-bold" *ngIf="failedProof.Batch">Product: {{failedProof.Batch}}&nbsp;</span>
              <span class="font-weight-bold" *ngIf="failedProof.Stage">| Stage: {{failedProof.Stage}}&nbsp;</span>
              and
              <span class="font-weight-bold" *ngIf="failedProof.Batch2">Product: {{failedProof.Batch2}}&nbsp;</span>
              <span class="font-weight-bold" *ngIf="failedProof.Stage2">| Stage: {{failedProof.Stage2}}&nbsp;</span>
              failed.
          </div>
        </div>
        <ng-template #otherProof>
          <div class="d-flex align-items-center mb-3 section-header" *ngFor="let failedProof of failedProofs">
            <div>
              The <span class="font-weight-bold" *ngIf="missedProof.ProofType">&nbsp;{{failedProof.ProofType}}&nbsp;</span>
                of <span class="font-weight-bold capitalize-first-letter" *ngIf="failedProof.Batch">&nbsp;Product: {{failedProof.Batch}}&nbsp;</span>
                <span class="font-weight-bold" *ngIf="failedProof.Stage">| Stage: {{failedProof.Stage}}&nbsp;</span>
                failed.
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <!--modal-footer-->
    <div class="modal-footer" style="font-family: Inter; justify-content: center;"></div>
 